# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

/dist
/src/nap
/src/.deps
/config.log
/nap-*.tar.gz
/Makefile
/autom4te.cache
/src/Makefile
/config.h
/config.log
/config.status
/stamp-h1
